<ion-header>
  <ion-toolbar>
    <ion-title>
      <center><ion-title><img src="../assets/images/unbin.png" height=50px width=50px alt=""></ion-title></center>
    </ion-title>
    <ion-buttons slot="start">      
      <ion-menu-button></ion-menu-button>   
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
    <p1><font size="5"><font face="Courier New">Profil</font></font><br></p1>
  </center>

  <ion-list>    
      <ion-item>
        <ion-label align="center">Nama : <b>RISMAN</b></ion-label>
      </ion-item>
  
      <ion-item>
        <ion-label align="center">Nomor Induk Mahasiswa : <b>15200019</b></ion-label>
      </ion-item>
  
      <ion-item>
        <ion-label align="center">Program Studi : <b>Teknik Informatika </b></ion-label>
      </ion-item>
  
      <ion-item>
        <ion-label align="center">Fakultas : <b>Informatika dan Komputer</b></ion-label>
      </ion-item>   
  </ion-list>
</ion-content>
