<ion-header>
  <ion-toolbar>
    <ion-title>
      <center><ion-title><img src="../assets/images/unbin.png" height=50px width=50px alt=""></ion-title></center>
    </ion-title>
    <ion-buttons slot="start">      
      <ion-menu-button></ion-menu-button>   
    </ion-buttons>
  </ion-toolbar>
  <link rel="stylesheet" href="http://elearning.unbin.ac.id/assets/css/bootstrap.min.css">
</ion-header>

<ion-content>
  <p1><font size="5"><font face="Courier New">Nilai</font></font><br></p1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Mata Kuliah</th>
        <th scope="col">SKS</th>
        <th scope="col">NA</th>
        <th scope="col">HM</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>English 1</td>
        <td>0</td>
        <td>80</td>
        <td>A</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Mobile Platform</td>
        <td>3</td>
        <td>75</td>
        <td>B</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Software Modeling And Analyst</td>
        <td>4</td>
        <td>78</td>
        <td>B</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Calculus</td>
        <td>3</td>
        <td>82</td>
        <td>A</td>
        </tr>
      <tr>
        <th scope="row">5</th>
        <td>Intelligence System Fundamental</td>
        <td>3</td>
        <td>75</td>
        <td>B</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Web Programming</td>
        <td>3</td>
        <td>76</td>
        <td>B</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Intelligence System Basic Search Strategies</td>
        <td>3</td>
        <td>80</td>
        <td>A</td>
      </tr>
    <tr>
      <th scope="col">Total</th>
      <th scope="col"></th>
      <th scope="col">19</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    <tr>
      <th scope="col">IPK</th>
      <th scope="col"></th>
      <th scope="col">-</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </tbody>
    </table>
</ion-content>
