<ion-header>
  <ion-toolbar>
    <ion-title>
      <center><ion-title><img src="../assets/images/unbin.png" height=50px width=50px alt=""></ion-title></center>
    </ion-title>
    <ion-buttons slot="start">      
      <ion-menu-button></ion-menu-button>   
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p1><font size="5"><font face="Courier New">List Mata Kuliah</font></font><br></p1>
  <!-- List of Text Items -->
  <ion-list>
    <ion-item>
      <ion-label>Inggris 1 [<i>English 1</i>] <ion-icon name="chatbubbles"></ion-icon></ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Kalkulus [<i>Calculus</i>] <ion-icon name="chatbubbles"></ion-icon></ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Pemrograman Web [<i>Web Programming</i>] <ion-icon name="chatbubbles"></ion-icon></ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Platform Mobile [<i>Mobile Platforms</i>] <ion-icon name="chatbubbles"></ion-icon></ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Dasar Sistem Cerdas [<i>Intelligence System Fundamental</i>]
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Sistem Intelijen Strategi Pencarian Dasar [<i>Intelligence System Basic Search Strategies</i>]
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Analisis dan Pemodelan Perangkat Lunak [<i>Software Modeling And Analyst</i>] 
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-label>
    </ion-item>

  </ion-list> 
</ion-content>
