<ion-header>
  <ion-toolbar>
    <ion-title>
      <center><ion-title><img src="../assets/images/unbin.png" height=50px width=50px alt=""></ion-title></center>
    </ion-title>
    <ion-buttons slot="start">      
      <ion-menu-button></ion-menu-button>   
    </ion-buttons>
  </ion-toolbar>
  <link rel="stylesheet" href="http://elearning.unbin.ac.id/assets/css/bootstrap.min.css">
</ion-header>

<ion-content>
  <p1><font size="5"><font face="Courier New">Jadwal Kuliah</font></font><br></p1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Hari</th>
        <th scope="col">Mulai</th>
        <th scope="col">Selesai</th>
        <th scope="col">Mata Kuliah</th>
        <th scope="col">Dosen</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Senin</td>
        <td>09:00:00</td>
        <td>12:00:00</td>
        <td>English 1</td>
        <td>Nurhayati,SE</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Selasa</td>
        <td>14:00:00</td>
        <td>17:00:00</td>
        <td>Mobile Platform</td>
        <td>Anggra Triawan,S.Kom, M.Kom</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Rabu</td>
        <td>09:00:00</td>
        <td>12:00:00</td>
        <td>Software Modeling And Analyst</td>
        <td>Irmansyah,S.K</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Rabu</td>
        <td>14:00:00</td>
        <td>17:00:00</td>
        <td>Calculus</td>
        <td>Dedy Mulyadi,S.Si, M.Kom</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Kamis</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Jumat</td>
        <td>09:00:00</td>
        <td>12:00:00</td>
        <td>Intelligence System Fundamental</td>
        <td>Binanda Wicaksana, M.Kom</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Sabtu</td>
        <td>09:00:00</td>
        <td>12:00:00</td>
        <td>Web Programming</td>
        <td>Farhan Zayid,S.ST, M.Kom</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Sabtu</td>
        <td>13:00:00</td>
        <td>16:00:00</td>
        <td>Intelligence System Basic Search Strategies</td>
        <td>Hudori, M.Kom</td>
      </tr>
    </tbody>
  </table>
</ion-content>
