<ion-header>
  <ion-toolbar>
    <ion-title>
      <center><ion-title><img src="../assets/images/unbin.png" height=50px width=50px alt=""></ion-title></center>
    </ion-title>
    <ion-buttons slot="start">      
      <ion-menu-button></ion-menu-button>   
    </ion-buttons>
  </ion-toolbar>
  <link rel="stylesheet" href="http://elearning.unbin.ac.id/assets/css/bootstrap.min.css">
</ion-header>

<ion-content>
  <p1><font size="5"><font face="Courier New">History Pembayaran</font></font><br></p1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Tahun Akademik</th>
        <th scope="col">Semester</th>
        <th scope="col">Tanggal</th>
        <th scope="col">Jumlah</th>
        <th scope="col">Keterangan</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>2020/2021</td>
        <td>Ganjil</td>
        <td>03-07-2020</td>
        <td>300,000</td>
        <td>Biaya Pendaftaran Mahasiswa Baru</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>2020/2021</td>
        <td>Ganjil</td>
        <td>11-08-2020</td>
        <td>2,650,000</td>
        <td>Pembayaran Ke 1</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>2020/2021</td>
        <td>Genap</td>
        <td>11-08-2020</td>
        <td>775,000</td>
        <td>Biaya DPPS Mahasiswa Baru</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>2020/2021</td>
        <td>Genap</td>
        <td>03-03-2021</td>
        <td>2,075,000</td>
        <td>Pembayaran Ke 3 (BRI)</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>2021/2022</td>
        <td>Ganjil</td>
        <td>03-03-2021</td>
        <td>475,000</td>
        <td>Pembayaran Ke 2 (BNI)</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>2021/2022</td>
        <td>Ganjil</td>
        <td>30-08-2021</td>
        <td>475,000</td>
        <td>Pembayaran Ke 5 (BNI)</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>2021/2022</td>
        <td>Ganjil</td>
        <td>30-08-2021</td>
        <td>2,075,000</td>
        <td>Pembayaran Ke 4 (BRI)</td>
      </tr>
    </tbody>
  </table>

</ion-content>
