<ion-header>
  <ion-toolbar>
    <ion-title>
      <center><ion-title><img src="../assets/images/unbin.png" height=50px width=50px alt=""></ion-title></center>
    </ion-title>
    <ion-buttons slot="start">      
      <ion-menu-button></ion-menu-button>   
    </ion-buttons>
  </ion-toolbar>
  <link rel="stylesheet" href="http://elearning.unbin.ac.id/assets/css/bootstrap.min.css">
</ion-header>

<ion-content>
  <p1><font size="5"><font face="Courier New">Rencana Studi Anda Semester Ini</font></font><br></p1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Kode Matkul</th>
        <th scope="col">Nama Matkul</th>
        <th scope="col">SKS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>IE315</td>
        <td>Pemrograman Web [<i>Web Programming</i>]</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>FK322</td>
        <td>Kalkulus [<i>Calculus</i>]</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>FK018</td>
        <td>Inggris 1 [<i>English 1</i>]</td>
        <td>0</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>IE329</td>
        <td>Sistem Intelijen Strategi Pencarian Dasar [<i>Intelligence System Basic Search Strategies</i>]</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>IE327</td>
        <td>Dasar Sistem Cerdas [<i>Intelligence System Fundamental</i>]</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>IE326</td>
        <td>Platform Mobile [<i>Mobile Platforms</i>]</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>IE428</td>
        <td>Analisis dan Pemodelan Perangkat Lunak [<i>Software Modeling And Analyst</i>]</td>
        <td>4</td>
      </tr>
    </tbody>
    </table>

</ion-content>
